.form-div {
    display: flex;
    align-items: center;
    flex-direction: column;
}
form {
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
    width: 30%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 8px;
    border-radius: 15px;
}
form input[type = "text"], .input-text{
    width: 240px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid grey;
    padding-left: 4px;
}
form > div {
    display: flex;
    flex-direction: column;
}
form > div{
    margin-bottom: 6px;
}
form > div > label{
    margin: 2px;
}   
.student-data {
    margin-top: 28px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.student-data h2 {
    margin: auto;
    width: fit-content;
}
table{
    border: 1px solid black;
    width: 80%;
    border-collapse: collapse;
}
table th{
    border: 1px solid black;
    padding: 8px;
}
table td{
    border: 1px solid black;
    padding: 8px;
    text-align: center;
}
button, .input-button{
    padding: 8px 12px;
    margin-right: 8px;
    border: none;
    border-radius: 5px;
    color: #fff;
}
table button:first-child {
    background-color: crimson;
}
table button:last-child {
    background-color: rgb(226, 226, 34);
    color: rgb(22, 3, 3);
}
form button {
    background-color: rgb(16, 176, 16);
}
.add-btn{
    margin-top: 16px;
    margin-left: 16px;
}
.student-data .search-input{
    align-self: flex-end;
    margin-right: 155px;
    margin-bottom: 16px;
}